

/* ==========================================================================
   Global styles
   ========================================================================== */
html {
 //this defines what 1rem is
 font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small {
  font-family: 'Montserrat', sans-serif;
}

p, .lead {
	font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #929496;
  font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #b36d61;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
	background: #a98175; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #a98175; /* Firefox */
	color: #FFFFFF;
}

/*------------------Buttons---------------------*/
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.btn-lg {
  font-size: 13px;
  line-height: 1.33;
  padding: 22px 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  background-color:#a98175;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #a98175;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-secondary {
  background-color: #ffffff;
  color: #a98175;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #a98175;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}




/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #70cbce;
}

.white {
  color: #ffffff;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #70cbce;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
	background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #a98175;
    margin: auto;
    min-height: 50px;
    padding-top: 8px;
    position: fixed;
    top: -100px;
    transition: top 0.4s ease 0s;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 6px 6px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #a98175;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
	width: 60px;
}

.logo-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	font-weight: 300;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.logo-text:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.8;
}

.carousel-container {
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-image {
  height: 100%;
  margin: auto;
  display: block;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
header {
  background: url(../img/Picture2.jpg) no-repeat center center;
  width: 100%;
  padding: 1.8rem 1rem 2rem 1rem;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.banner {
  background: url(../img/Picture2.jpg) no-repeat center center;
  width: 100%;
  padding: 18px 10px 0px 10px;
  height: 220px;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
  transform: translate(0, -50%);
}

@keyframes scrolling {
  0% {
      opacity: 0;
      top: 5px;
  }
  30% {
      opacity: 1;
      top: 10px;
  }
  100% {
      opacity: 0;
      top: 25px;
  }
}

.pad-xl {
	padding: 20rem 0px;
}

.pad-lg {
	padding: 8rem 0px;
}

.pad-sm {
	padding: 4rem 0px;
}

.pad-xs {
	padding: 3rem 0px;
}

#be-the-first {
  background: url(../img/57654461.jpg) #231f20 no-repeat center center fixed;
  min-height: 30rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.blue {
	border-color: #70cbce;
	color: #70cbce
}

.yellow {
	border-color: #fdc05d;
	color: #fdc05d;
}


#invite {
  background: #f2f2f2;
  padding: 4rem 0px;
}


.news-container:not(:last-child) {
  padding: 10px 0px 20px;
  border-bottom: 1px dotted #d9d9d9;
}

.news-img {
  padding-right: 20px;
  width: 450px !important;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

.social li a:hover {
  opacity: 0.5;
}



/*---------------Pricing Tables-------------------*/


#pricing {
  background: #70cbce;
}

.pricing-container {
  padding-left: 0px;
  padding-right: 0px;
}

.pricing-table {
  background: transparent;
  margin-bottom: 5rem;
  margin-top: 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.pricing-table.active {
  box-shadow: 0px 0px 12px rgba(41,46,50,0.6);
  position: absolute;
  margin: auto;
  z-index: 200;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing-table:hover {
  margin-top: -10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.pricing-table li {
  padding-left: 20px;
  padding-right: 20px;
}

.headline {
  background: #231f20;
  color: #FFFFFF;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 1.3rem;
  color: #929496;
  background: #ffffff;
}

.features {
  color: #231f20;
  font-weight: bold;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted #E8EAEA;
  background: #ffffff
}

.features.first {
  border-top: 1px dotted #E8EAEA;
}

.features.last {
  padding-top: 1.7rem;
  padding-bottom: 2rem;
}

.features.last a {
	color: #70cbce;
	font-size: 1.4rem;
	letter-spacing: 1px;
}

.pricing-container .btn {
    border-radius: 0;
}


/* --------------------------about------------------------------------------*/
.flex-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/*-----------------------photo gallery-------------------------------------*/
.gallery {
  width: 100%;
  padding: .5rem 0;
}

.gallery-fixed-height {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .btn-lg {
    font-size: 1.5rem;
    line-height: 1.33;
    padding: 16px 13px;
    letter-spacing: 0px;
  }


  .btn-wide {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.33;
    padding: 16px 13px;
    letter-spacing: 0px;
  }

  h1 {
     font-size: 3.12rem;
     line-height: 3.12rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  .lead {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

#be-the-first {
      background-attachment: scroll;
  }

  .navbar {
    display: none;
  }

  .news-img {
    padding-right: 20px;
    width: 100%;
  }

  .book-img {
    width: 15rem;
  }
}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  h1 {
     font-size: 2.8rem;
     line-height: 2.8rem;
  }

  h2 {
     font-size: 2.6rem;
     line-height: 3rem;
  }

#be-the-first {
      background-attachment: scroll;
  }

  .navbar {
    display:none;
  }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

#be-the-first {
      background-attachment: scroll;
  }

}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}



/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}
